@{
    ViewData["Title"] = "تسجيل الدخول";

}

<div class="max-w-464-px mx-auto w-100 Cart_Login droid-arabic-kufi ">
    <div class="row">
        <div class=" text-center ">
            <div class="card-body text-center " >
                <div>
                    <div class="pb-2 mb-3">
                        <h5 class="card-title text-center pb-0 fs-4">تغير كلمة المرور</h5>
                    </div>
                    <form class="row g-1 needs-validation" novalidate onsubmit="return false;" oninput="result.value = txtRePassword.value != '' ? !!txtRePassword.value && (txtPassword.value==txtRePassword.value)?'متطابقة!':'غير متطابقة!' : ''">
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-12 col-form-label">كلمة المرور القديمة</label>
                            <div class="col-sm-12">
                                <input type="password" class="form-control" id="txtOldPassword" dir="ltr" name="txtOldPassword" minlength="6" required style="padding-left:8px">
                                <div class="invalid-feedback">يجب إدخال كلمة المرور على الاقل 6 حروف</div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-12 col-form-label">كلمة المرور الجديدة </label>
                            <div class="col-sm-12">
                                <input type="password" class="form-control" id="txtPassword" dir="ltr" name="txtPassword" minlength="6" required style="padding-left:8px">
                                <div class="invalid-feedback">يجب إدخال كلمة المرور على الاقل 6 حروف</div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-12 col-form-label"> إعادة كلمة المرور الجديدة</label>
                            <div class="col-sm-12">
                                <div class="input-group has-validation">
                                    <input type="password" id="txtRePassword" name="txtRePassword" dir="ltr" class="form-control" minlength="6" required style="padding-left:8px">
                                    <div class="invalid-feedback">يجب إعادة إدخال كلمة المرور</div>
                                </div>
                                <output name="result" style="color:red"></output>
                            </div>
                        </div>
                        <div class="row mb-3 text-center">
                            <label for="inputText" class="col-sm-12 col-form-label"></label>
                            <div class="col-sm-6">
                                <button class="btn btn-primary w-75" onclick="Expert.Account.UpdatePassword();">حفظ</button>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-primary w-75" onclick="location.href='@Url.Action("Index", "ApplicationForm")'">الغاء</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="~/js/Expert.Account.js"></script>
