@inject ICommonDAO _CommonDAO;
@{
    ViewData["Title"] = " مبادرة اعتماد الخبراء  في مجال التواصل والعلاقات العامة ";
    Layout = "_OuterLayoutWithoutImage";
}
@section Styles {
    <link href="~/css/landing.css" rel="stylesheet" asp-append-version="true" />
}


<div class="responsive-padding-40-150 bg-light-pink" style="background-image:url(../assets/images/BG.png);padding-inline-end:unset !important;padding-inline-start:20px !important;;padding-block-start:unset !important;">
    <div class="row ">
        <div class="col-6" style="text-align:end;">
            <img src="~/assets/images/arado.png" alt="" width="200" height="200">
        </div>
        <div class="col-6" style="text-align:start;">
            <img src="~/assets/images/network.png" alt="" width="200" height="200">
        </div>
    </div>
    <div class="row gy-4 ">
        <div class="col-xl-12">
            <h2 class="mb-10" style="color:#c4954d">عن المبادرة</h2>
            <p class="mb-0 text-secondary-light text-xxl">تطلق المنظمة العربية للتنمية الإدارية هذه المبادرة لاعتماد الخبراء في مجال العلاقات العامة والاتصال، كونها المركز التعليمي المعتمد للمعهد في الوطن العربي (ATC code: 1086860)، بالتعاون مع المعهد الملكي للعلاقات العامة في المملكة المتحدة </p>
            <h4 class="mb-10" style="color:#5d9477">الهدف من المبادرة:</h4>
            <p class="mb-0 text-secondary-light text-xxl">تزويد المنطقة العربية بخبراء مؤهلين بالمعارف والمهارات اللازمة في مجال العلاقات العامة والاتصال، بما يعزز  دور  وحدات وقطاعات العلاقات العامة في المؤسسات العربية.</p>
            <h4 class="mb-10" style="color:#5d9477">مزايا المبادرة:</h4>
            <ul>
                <li class="d-flex align-items-center gap-16 ">
                    <span class="text-secondary-light text-xl">
                        - المشاركة في برنامج تدريب المدربين TOT والذي تقدمه المنظمة للمتقدمين للمبادرة.
                    </span>
                </li>
                <li class="d-flex align-items-center gap-16 ">
                    <span class="text-secondary-light text-xl">
                        - منح الخبراء في مجال العلاقات العامة والاتصال والاعلام ، الاعتماد من المنظمة العربية للتنمية الإدارية و المعهد الملكي للعلاقات العامة بالمملكة المتحدة.
                    </span>
                </li>
                <li class="d-flex align-items-center gap-16 ">
                    <span class="text-secondary-light text-xl">
                        - تسجيل الخبراء المعتمدين في قاعدة خبراء المنظمة.
                    </span>
                </li>
                <li class="d-flex align-items-center gap-16 ">
                    <span class="text-secondary-light text-xl">
                        - منح الخبراء المعتمدين فرصة تصميم وتنفيذ برامج تدريبية التي تنفذها المنظمة بالشراكة مع المعهد البريطاني.
                    </span>
                </li>
                <li class="d-flex align-items-center gap-16 ">
                    <span class="text-secondary-light text-xl">
                        - التشبيك مع الخبراء الدوليين في مجال العلاقات العامة والاتصال.
                    </span>
                </li>
            </ul>
        </div>
        @* <div class="col-xl-3 d-xl-block d-none">
        </div> *@
    </div>
    <div class="row">
        <div style="text-align:center" class="mt-10">
            <a href="@Url.Action("Register", "Account")" class="btn btn-primary-600 radius-8 px-20 py-11 btnWidth">إنشاء حساب جديد</a>
            <a href="@Url.Action("login", "Account")" class="btn btn-primary-100 text-primary-600 radius-8 px-20 py-11 btnWidth">دخول</a>
            <div />




        </div>
    </div>
</div>

