@{
    ViewData["Title"] = "تسجيل الدخول";
    Layout = "_OuterLayoutWithoutImage";

}

<div class=" mx-auto w-75">
        <div class="row gy-4">
            <div class="col-md-4">
                <img src="~/assets/images/ArabUni.png" class="max-w-290-px" alt="">
            </div>
            <div class="col-md-8 " style="text-align:left">
                <img src="~/assets/images/logo.png" class="max-w-290-px" alt="">
            </div>
        </div>
        <div class="row gy-4 align-items-center">
        <h4 class="mb-20 mt-50"> الشروط والأحكام</h4>
            <p class="mb-0 text-secondary-light text-xl">
                تطلق المنظمة العربية للتنمية الإدارية هذه المبادرة لاعتماد الخبراء في مجال العلاقات العامة والاتصال، كونها ‏المركز التعليمي المعتمد للمعهد في الوطن العربي (‏ATC code: 1086860‎‏)، بالتعاون مع المعهد الملكي للعلاقات ‏العامة في المملكة المتحدة (‏CIPR‏)‏‎. ‎‏ ‏
                <br />
                <span class="mt-3" style="font-weight:bold">
                    الهدف من المبادرة:
                </span>
                <br>

                تزويد المنطقة العربية بخبراء مؤهلين بالمعارف والمهارات اللازمة في مجال العلاقات العامة والاتصال، بما يعزز  دور  ‏وحدات وقطاعات العلاقات العامة في المؤسسات العربية.‏
                <br />
                <span class="mt-3" style="font-weight:bold">
                    مزايا المبادرة:‏
                </span>
                <br />
                ‏-‏              المشاركة في برنامج تدريب المدربين ‏TOT‏ والذي تقدمه المنظمة للمتقدمين للمبادرة.‏‎ ‎
                <br />
                ‏-‏              منح الخبراء في مجال العلاقات العامة والاتصال والاعلام ، الاعتماد من المنظمة العربية للتنمية الإدارية ‏و المعهد الملكي للعلاقات العامة بالمملكة المتحدة.‏
                <br />
                ‏-‏              تسجيل الخبراء المعتمدين في قاعدة خبراء المنظمة.‏
                <br />
                ‏-‏              منح الخبراء المعتمدين فرصة تصميم وتنفيذ برامج تدريبية التي تنفذها المنظمة بالشراكة مع المعهد ‏البريطاني.‏
                <br />
                ‏-‏              التشبيك مع الخبراء الدوليين في مجال العلاقات العامة والاتصال.‏
            </p>
        </div>

</div>



