@{
    ViewData["Title"] = " مبادرة اعتماد الخبراء  في مجال التواصل والعلاقات العامة ";
    Layout = "_OuterLayoutWithoutImage";
    //var countyLst = _CommonDAO.GetCountry();
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
