@inject ICommonDAO _CommonDAO;
@model ApplicationForm;
@{
    var questions = _CommonDAO.GetQuestions();
    int i = 1;
}

<!-- Arabic Layout -->
<div class="dashboard-main-body bg-base droid-arabic-kufi container">
 
    <div class="row gy-4">
        <div class="col-lg-12">

        <div class=" text-center heder-forms ">
            <h5 class="text-white"> انهاء التسجيل</h5>
        </div>
        <div class=" form-porder ">

            <div class="card-body row gy-3">
            <h5 class="form-label float-right">
                هل يمكنك:
            </h5>

        <div class="card-body p-4">
            <form id="questionForm">
    <input type="hidden" name="expertGUID" id="expertGUID" value="@Model.MainInformation.GUID" />




                            <div class="questionnaire-container">
                                <div class="row">
                                    @foreach (var question in questions)
                                    {
                                        <div class="col-md-6 mb-4">
                                            <div class="card question-card">
                                                <div class="card-body">
                                                    <p class="question-text">@i - @question.Content</p>
                                                    <div class="radio-toolbar">
                                                        <div class="radio-option">
                                                            <input class="form-check-input" type="radio" name="question_@question.Id"
                                                                   id="question_@(question.Id)_yes" value="true" required>
                                                            <label class="radio-label yes-label" for="question_@(question.Id)_yes">
                                                                 نعم
                                                            </label>
                                                        </div>
                                                        <div class="radio-option">
                                                            <input class="form-check-input" type="radio" name="question_@question.Id"
                                                                   id="question_@(question.Id)_no" value="false" required>
                                                            <label class="radio-label no-label" for="question_@(question.Id)_no">
                                                                لا
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        i++;
                                    }
                                </div>
                                <div class="text-center mt-4">
                                    <button type="button" class="btn btnAdd" onclick="submitAnswers()">
                                         حفظ الإجابات
                                    </button>
                                </div>
                            </div>

       
  
</form>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<!-- Registration and Payment Section -->
<div class="col-lg-12">
    <div class=" text-center heder-forms ">
        <h5 class="text-white">انهاء التسجيل والدفع الإلكترونى   </h5>
    </div>

   

    <div class=" form-porder ">
        <div class="card-header p-0 border-0">
            <div class="responsive-padding-40-150 ">
                <div class="row gy-4 align-items-center">
                    <div class="col-xl-7">
                        <h6>رسوم التقدم للمبادرة )200$ (مصروفات تسجيل وتقييم من قبل المنظمة)</h6>
                        <p class="mb-0 text-secondary-light max-w-634-px text-xl">نشكركم على التسجيل فى مبادرة اعتماد الخبراء في مجال التواصل والعلاقات العامة، ولإتمام عملية التسجيل يرجى الضغط على رابط إنهاء التسجيل  أدناه واتمام عملية الدفع الإلكتروني لكى يتم النظر فى استمارة التسجيل الخاصة بحضراتكم. </p>
                    </div>
                    <div class="col-xl-5 d-xl-block d-none">
                        <img src="assets/images/faq-img.png" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
