@model ApplicationForm;
@inject ICommonDAO _CommonDAO;

@{
    var lookupLst = _CommonDAO.GetLookup("lookupTrainingType");
    //var code = "Fourth";
    //var userInfo = Html.GetUserinfo();
    // var showEvalbtn = false;
    // var totalDegree = 0;
    // @if (userInfo.UserType == 3 || userInfo.UserType == 2)
    //     showEvalbtn = true;
    // List<ApplicationFormEvaluation> ApplicationFormEvaluationLst = new List<ApplicationFormEvaluation>();
    // List<AttachmentUI> AttachmentLst = new List<AttachmentUI>();
    // if (Model != null && Model.ApplicationFormEvaluationLst.Count > 0)
    // {
    //     ApplicationFormEvaluationLst = Model.ApplicationFormEvaluationLst.Where(x => x.Code == code).ToList();
    // }
    // if (Model != null && Model.AttachmentLst.Count > 0)
    // {
    //     AttachmentLst = Model.AttachmentLst.Where(x => x.Code == code).ToList();
    // }
    // List<ApplicationEvaluation> ApplicationEvaluationLst = new List<ApplicationEvaluation>();
    // if (Model != null && Model.ApplicationEvaluationLst != null && Model.ApplicationEvaluationLst.Count > 0 && showEvalbtn)
    // {
    //     ApplicationEvaluationLst = Model.ApplicationEvaluationLst.Where(x => x.Code == code).ToList();
    // }
    // var evalView = new ApplicationFormEvaluationView();

}
<div id="EvaluationThird" class="dashboard-main-body bg-base droid-arabic-kufi container">

    <div class="row ">
        <div class="col-lg-12">
            <div class=" text-center heder-forms">
                <h5 class="text-white"> الخبرات العملية</h5>
                </div>
            <div class=" form-porder ">

                <div class="card-body row gy-3">
                    <div class="col-md-6">
                        <label class="form-label">الاسم</label>
                        <span style="color:red;">*</span>
                        <input type="text" id="txtName" class="form-control" required>
                        <input type="hidden" id="hiddenPQId" value="" data-status="" />

                    </div>
                    <div class="col-md-6">
                        <label class="form-label">النوع  </label>
                        <span style="color:red;">*</span>
                        <select class="form-select" id="selectTrainingType" required>
                            <option value="">--اختر النوع--</option>
                            @foreach (var obj in lookupLst)
                            {
                                <option value="@obj.Id">@obj.Name.Trim()</option>
                            }
                        </select>

                    </div>             
                    <div class="col-md-6">
                        <label class="form-label"> المكان  </label>
                        <span style="color:red;">*</span>
                        <input type="text" id="txtplace" class="form-control" required>

                    </div>
                    <div class="col-md-6">
                        <label class="form-label">نوع التقديم </label>
                        <span style="color:red;">*</span>
                        <select class="form-select" id="selecttype" required>
                            <option value="" selected>--اختر نوع التقديم  --</option>
                            <option  value="1">عن بعد</option>
                            <option value="2">حضوريا</option>
                            <option value="3">عن بعد / حضوريا</option>
                        </select>

                    </div>
                    <div class="col-md-6">
                        <label class="form-label"> المؤسسة المقدم لها الخدمة </label>
                        <span style="color:red;">*</span>
                        <input type="text" id="txtOrg" class="form-control" required>

                    </div>
                    <div class="col-md-6">
                        <label class="form-label">المرفقات </label>
                        <span style="color:red;">*</span>
                        <input class="form-control form-control-sm" type="file" id="AttachmentFile_PQ"  accept=".pdf" />
                        <div class="col-md-2">
                            <a id="AttachmentName_PQ" href="#" class="m-10" target="_blank"></a>
                        </div>
                        <div>
                            <p class="form-label">
                                حجم الملف المسموح به يجب أن لا يتجاوز 10 ميجا بايت ومن نوع pdf
                            </p>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <label class="form-label">شرح مختصر عن المادة العلمية / ملاحظات أخرى</label>
                        <textarea name="#0" class="form-control" rows="4" cols="50" id="txtNotes"></textarea>
                    </div>
                    <div class="col-12">
                        <button class="btn btnAdd" type="submit" onclick="SaveProfessionalqualifications()">إضافة</button>
                    </div>                                                
                </div>
            </div>
        </div>
        <div class="col-lg-12 py-5">
            <div class=" text-center heder-forms ">
                <h5 class="text-white">قائمة المؤهلات العملي</h5>
            </div>

            <div class=" form-porder ">
                <div class="table-responsive scroll-sm">
                    <div class="table-center">
                        <div class="scroll-container" data-simplebar>
                            <table>
                                <thead>
                                    <tr>
                                        <th width="15%" style="text-align: center; ">النوع</th>
                                        <th width="25%" style="text-align: center; ">الاسم</th>
                                        <th width="10%" style="text-align: center; ">مكان</th>
                                        <th width="15%" style="text-align: center; ">نوع التقديم</th>
                                        <th width="20%" style="text-align: center; ">المؤسسة المقدم لها الخدمة</th>
                                        <th width="10%" style="text-align: center; "></th>
                                    </tr>
                                </thead>
                                <tbody id="tblPQ">
                                </tbody>
                            </table>
                        </div>
                    </div>





                       
                    </div>
                </div>
           
        </div>
    </div>
</div>