<div class="dashboard-main-body">

    <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
    </div>

    <div class="card basic-data-table">
        <div class="card-header p-0 border-0">
            <div class="responsive-padding-40-150">
                <div class="row gy-4">
                    <div class="col-md-4">
                        <img src="~/assets/images/ArabUni.png" class="max-w-290-px" alt="">
                    </div>
                    <div class="col-md-8 " style="text-align:left">
                        <img src="~/assets/images/logo.png" class="max-w-290-px" alt="">
                    </div>
                </div>
                <p class="mb-0 text-secondary-light text-xl droid-arabic-kufi">
                    <span class="mt-3" style="font-weight:900">
                        عن المبادرة:‏
                    </span>
                    <br />
                    تطلق المنظمة العربية للتنمية الإدارية هذه المبادرة لاعتماد الخبراء في مجال العلاقات العامة والاتصال بالتعاون مع المعهد الملكي البريطاني للعلاقات العامة (CIPR).
                    @* تطلق المنظمة العربية للتنمية الإدارية هذه المبادرة لاعتماد الخبراء في مجال العلاقات العامة والاتصال، كونها ‏المركز التعليمي المعتمد للمعهد في الوطن العربي (‏ATC code: 1086860‎‏)، بالتعاون مع المعهد الملكي للعلاقات ‏العامة في المملكة المتحدة (‏CIPR‏)‏‎. ‎‏ ‏ *@
                    <br />
                    </p>
                <div class="row gy-4 align-items-center">
                    @* <h4 class="mb-20">عن المبادرة</h4> *@
                    <!-- Nav tabs -->
                
                    <ul class="col-6 nav nav-tabs droid-arabic-kufi text-xl mb-3" id="initiativeTabs" role="tablist">
                        <li class="navbar-section" role="presentation">
                            <a class=" active" id="goal-tab" data-bs-toggle="tab" data-bs-target="#goal" role="tab" aria-controls="goal" aria-selected="true">
                                الهدف من المبادرة
                            </a>
                        </li>
                        <li class="navbar-section" role="presentation">
                            <a class="" id="advantages-tab" data-bs-toggle="tab" data-bs-target="#advantages"  role="tab" aria-controls="advantages" aria-selected="false">
                                مزايا المبادرة
                            </a>
                        </li>
                        <li class="navbar-section" role="presentation">
                            <a class="" id="fees-tab" data-bs-toggle="tab" data-bs-target="#fees"  role="tab" aria-controls="fees" aria-selected="false">
                                رسوم المبادرة
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content droid-arabic-kufi text-secondary-light">

                        <!-- Section 1: الهدف -->
                        <div class="tab-pane fade show active" id="goal" role="tabpanel" aria-labelledby="goal-tab">
                            <div class="row">
                                <div class="col-6">
                                    <p class="justify_text">
                                        تزويد المنطقة العربية بخبراء مؤهلين بالمعارف والمهارات اللازمة في مجال العلاقات العامة والاتصال، بما يعزز  دور  ‏وحدات وقطاعات العلاقات العامة في المؤسسات العربية.‏
                                    </p>
                                </div>
                                <div class="col-6">
                                    <img src="~/assets/images/AboutUs/gole.jpg" class="rounded" alt="...">
                                </div>
                            </div>
                        </div>

                        <!-- Section 2: مزايا -->
                        <div class="tab-pane fade" id="advantages" role="tabpanel" aria-labelledby="advantages-tab">
                            <div class="row">
                                <div class="col-6">
                                    <p class="justify_text">
                                        <br />
                                        ‏-‏              المشاركة في برنامج تدريب المدربين ‏TOT‏ والذي تقدمه المنظمة للمتقدمين للمبادرة.‏‎ ‎
                                        <br />
                                        ‏-‏            	منح الخبير الذي اجتاز التقييم في مجال العلاقات العامة والاتصال الاعتماد من المنظمة العربية للتنمية الإدارية ومن المعهد الملكي للعلاقات العامة بالمملكة المتحدة.
                                        <br />
                                        ‏-‏            	إدراج الخبير في قاعدة خبراء المنظمة والمعهد في مجال العلاقات العامة والاتصال.
                                        <br />
                                        ‏-‏             	الحصول على عضوية في الشبكة العربية للتواصل والعلاقات العامة.
                                        <br />
                                        ‏-‏              التشبيك مع الخبراء الدوليين في مجال العلاقات العامة والاتصال.‏

                                        <br />
                                        ‏-‏             	الحصول على خصم خاص من رسوم الاعتماد الخاصة بالمعهد.
                                        <br />
                                    </p>
                                </div>
                                <div class="col-6">
                                    <img src="~/assets/images/AboutUs/adv.png" class="rounded" alt="...">
                                </div>
                            </div>
                        </div>

                        <!-- Section 3: الرسوم -->
                        <div class="tab-pane fade" id="fees" role="tabpanel" aria-labelledby="fees-tab">
                            <div class="row">
                                <div class="col-6">
                                    <p>
                                        <br />
                                        ‏-‏               	اجمالي الرسوم 420$ وتشمل الآتي:
                                        <br />
                                        ‏-‏               	رسوم التقدم للمبادرة 200$ (مصروفات تسجيل وتقييم من قبل المنظمة).
                                        <br />
                                        ‏-‏            		رسوم الاعتماد من المعهد 220$.
                                    </p>
                                </div>
                                <div class="col-6">
                                    <img src="~/assets/images/aboutus/mony.jpg" class="rounded" alt="...">
                                </div>
                            </div>

                        </div>

                    </div>

                    @* <p class="mb-0 text-secondary-light text-xl droid-arabic-kufi"> *@
                    @*     <span class="mt-3" style="font-weight:900"> *@
                    @*         عن المبادرة:‏ *@
                    @*     </span> *@
                    @*     <br /> *@
                    @*     تطلق المنظمة العربية للتنمية الإدارية هذه المبادرة لاعتماد الخبراء في مجال العلاقات العامة والاتصال بالتعاون مع المعهد الملكي البريطاني للعلاقات العامة (CIPR). *@
                    @*     @* تطلق المنظمة العربية للتنمية الإدارية هذه المبادرة لاعتماد الخبراء في مجال العلاقات العامة والاتصال، كونها ‏المركز التعليمي المعتمد للمعهد في الوطن العربي (‏ATC code: 1086860‎‏)، بالتعاون مع المعهد الملكي للعلاقات ‏العامة في المملكة المتحدة (‏CIPR‏)‏‎. ‎‏ ‏ *@ 
                    @*     <br /> *@
                    @*     <span class="mt-3 " > *@
                    @*         الهدف من المبادرة: *@
                    @*     </span> *@

                    @*     <br> *@
                    @*     تزويد المنطقة العربية بخبراء مؤهلين بالمعارف والمهارات اللازمة في مجال العلاقات العامة والاتصال، بما يعزز  دور  ‏وحدات وقطاعات العلاقات العامة في المؤسسات العربية.‏ *@
                    @*     <br /> *@
                    @*     <span class="mt-3" style="font-weight:bold"> *@
                    @*         مزايا المبادرة:‏ *@
                    @*     </span> *@
                    @*     <br /> *@
                    @*     ‏-‏              المشاركة في برنامج تدريب المدربين ‏TOT‏ والذي تقدمه المنظمة للمتقدمين للمبادرة.‏‎ ‎ *@
                    @*     <br /> *@
                    @*     ‏-‏            	منح الخبير الذي اجتاز التقييم في مجال العلاقات العامة والاتصال الاعتماد من المنظمة العربية للتنمية الإدارية ومن المعهد الملكي للعلاقات العامة بالمملكة المتحدة. *@
                    @*     <br /> *@
                    @*     ‏-‏            	إدراج الخبير في قاعدة خبراء المنظمة والمعهد في مجال العلاقات العامة والاتصال. *@
                    @*     <br /> *@
                    @*     ‏-‏             	الحصول على عضوية في الشبكة العربية للتواصل والعلاقات العامة. *@
                    @*     <br /> *@
                    @*     ‏-‏              التشبيك مع الخبراء الدوليين في مجال العلاقات العامة والاتصال.‏ *@
                     
                    @*     <br /> *@
                    @*     ‏-‏             	الحصول على خصم خاص من رسوم الاعتماد الخاصة بالمعهد. *@
                    @*     <br /> *@
                    @*     <span class="mt-3" style="font-weight:bold"> *@
                    @*         رسوم المبادرة: ‏ *@
                    @*     </span> *@
                    @*     <br /> *@
                    @*     ‏-‏               	اجمالي الرسوم 420$ وتشمل الآتي: *@
                    @*     <br /> *@
                    @*     ‏-‏               	رسوم التقدم للمبادرة 200$ (مصروفات تسجيل وتقييم من قبل المنظمة). *@
                    @*     <br /> *@
                    @*     ‏-‏            		رسوم الاعتماد من المعهد 220$. *@
                        
                    @* </p> *@
                </div>
               
            </div>
        </div>
        
    </div>
    <div class="row  text-center p-3">
        <div class="col-md-12 ">
            <p class=" text-xl">
                <a href="@Url.Action("Index", "ApplicationForm")" class="btnSave fw-semibold">

سجل الان                </a>
            </p>
        </div>
    </div>
</div>

